<!DOCTYPE html>
<html>
	<head>
		<title>ToDo App</title>
		<link rel="stylesheet" type="text/css" href="/js/libs/datatables/media/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href = "js/libs/bootstrap/dist/css/bootstrap.min.css">
		<script src="/js/libs/jquery/dist/jquery.min.js"></script>
		<script src="/js/libs/datatables/media/js/jquery.dataTables.min.js"></script>
		<script>
		$(document).ready(function(){
            $.ajax({
                url: '/api/getbeers',
                type: 'GET',
                success: function(res){
                    showBeer(res);
                },
                error: function(error){
                    showNoBeer();
                }
            });

            function showBeer(beer){
                var html = '<thead><tr><th>Name</th><th>Rating</th><th>Style</th><th>ABV</th><th>Yours</th></tr></thead><tbody>';
                beer.forEach(function(b) {
                    html += '<tr><td>' + b.name + '</td><td>' + b.rating + '</td><td>' + b.style + '</td><td>' + b.abv + '</td><td>' + b.yours + '</td>';
                });
                html += '</tbody>';

                $('#example').html(html);
                $('#example').DataTable();
            }
		});
		</script>
	</head>
	<body>
        <div class="page-header" style="padding-left: 10%;">
           <h1>Welcome to Quetzale 
              <small>Come on and slam</small>
           </h1>
        </div>

    	<table id="example" class="display" cellspacing="0" width="100%">
        </table>
	</body>
</html>